@page
@model SignUpConfirmModel
@{
    ViewData["showNav"] = false;
    ViewData["banner"] = "Account Confirmation";
}

@if (Model.ShowConfirmedMessage)
{
    <div class="text-center">
        <h6 class="p-2">Account confirmed.</h6>
        <a class="btn btn-primary" asp-page="SignIn">Sign In</a>
    </div>
}
else
{
    <div class="text-center">
        <h6 class="p-2">Check your inbox for a confirmation email and click the link it contains.</h6>
        <a class="btn btn-primary" asp-page="SignUpResend">Resend Email</a>
    </div>
}