@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    string dashboardRole = Configuration["Dashboard:Role"] ?? "Dashboard";
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole(dashboardRole))
        {
            <li class="nav-item">
                <a asp-page="/Identity/Admin/Dashboard" class="nav-link bg-secondary text-white">
                    @User.Identity.Name
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a asp-page="/Identity/Index" class="nav-link bg-secondary text-white">
                    @User.Identity.Name
                </a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-page="/Identity/SignOut" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link bg-secondary text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link bg-secondary text-white" asp-page="/Identity/SignIn">Login</a>
        </li>
    }
</ul>
