@page
@model CreateModel
@{
    ViewBag.Workflow = "Create";
}

<div asp-validation-summary="All" class="text-danger m-2"></div>

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" type="email" />
    </div>
    <div>
        <button class="btn btn-success" type="submit">Create</button>
        <a class="btn btn-secondary" asp-page="Dashboard">Cancel</a>
    </div>
</form>
