@model AppUser
@inject UserManager<AppUser> UserManager

@if (UserManager.SupportsUserTwoFactor)
{
    <tr>
        <td>Two-Factor Authentication</td>
        <td>
            <input asp-for="IsTwoFactorAuthenticationEnabled" />
        </td>
    </tr>
}
@if (UserManager.SupportsUserTwoFactorRecoveryCodes)
{
    <tr>
        <td>Recovery Codes</td>
        <td>
            @(await UserManager.CountRecoveryCodesAsync(Model)) codes remaining
            <a class="btn btn-sm btn-secondary align-top" asp-page="RecoveryCodes" asp-route-id="@Model.Id">Change</a>
        </td>
    </tr>
}