@page
@model ExampleApp.Pages.ExternalSignInModel

@*
 *  This is just placeholder content for the moment because the view part of the page
 *  isn't required until later.
*@
<h4 class="bg-info text-white text-center p-2">External Authentication</h4>