@page
@using Microsoft.AspNetCore.Authorization

@* A user who has a role claim for _any_ of the roles specified by the Authorize attribute will be granted access. *@
@attribute [Authorize(Roles = "Administrator, User")]

<h4 class="bg-info text-center text-white m-2 p-2">
    This is the secret message
</h4>