@page
@using Microsoft.AspNetCore.Authorization

@* A user who has a role claim for _any_ of the roles specified by the Authorize attribute will be granted access. *@
@*@attribute [Authorize(Roles = "Administrator, User")]*@

@* If you want to restrict access to users who have claims for all the listed roles, then multiple attributes must be used. *@
@attribute [Authorize(Roles = "Administrator")]
@attribute [Authorize(Roles = "User")]

<h4 class="bg-info text-center text-white m-2 p-2">
    This is the secret message
</h4>