@page
@model ExampleApp.Pages.TwoFactorAuthenticationRequiredModel

<h4 class="bg-primary text-white text-center p-2">Two-Factor Sign In Required</h4>

<form method="post">
    <div class="m-2">
        <p>
            The full two-factor sign in process is required. Click the
            OK button to sign out of the application so you can sign in
            with a password and a security code.
        </p>
    </div>
    <button class="btn btn-primary mx-2" type="submit">OK</button>
</form>