@page
@using Microsoft.AspNetCore.Authorization
@using ExampleApp.Identity

@*The application of the Authorize attribute ensures that users that
are not signed in are presented with the standard challenge response.*@
@attribute [Authorize]

@*The TwoFactorRequiredFilter deals with two-factor users who bypassed the
second factor because their client was remembered by the application.*@
@attribute [TwoFactorRequiredFilter]
<h4 class="bg-info text-center text-white m-2 p-2">
    This is the VERY secret message.
</h4>